<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <app-top-nav fxHide.xs></app-top-nav>
    <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
    <app-loading></app-loading>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #appDrawer [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="true">
            <div class="logo-container" fxFlexAlign="center">
                <app-logo *ngIf="authService.isLoggedIn()"></app-logo>
            </div>
            <mat-divider></mat-divider>
            <mat-nav-list *ngIf="authService.isLoggedIn()">
                <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>

            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <div>
                        <button title="Volver" (click)="volver()" class="left btn btn-outline-primary btn-sm" mat-icon-button color="primary">
                      <mat-icon aria-label="Example icon-button with a heart icon">keyboard_backspace</mat-icon>
                    </button>
                    </div>

                    <h5 class="card-title">Modificación de datos empresa</h5>
                    <div class="card-text">


                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                            </formly-form>
                            <mat-dialog-actions>
                                <button type="submit" class="btn btn-primary submit-button">
                                    <mat-icon aria-label="Edit">save</mat-icon>
                                </button>
                            </mat-dialog-actions>
                        </form>



                    </div>
                </div>
            </div>


            <br>


            

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>