/* Absolute Center Spinner */
.progress-loader {
    position: fixed;
    z-index: 9999999;
    
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Transparent Overlay */
  .progress-loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
  }