<h4 mat-dialog-title>{{data.NOMBRE}}</h4>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="EmpresaForm"  novalidate>
        <mat-form-field class="example-full-width"> 
            <input matInput placeholder="Nit" formControlName="NIT">
            <!-- error -->
            <mat-error *ngIf="errorHandling('NIT', 'required')">
                El <strong>Nit</strong> Ingresado no es valido
            </mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre" formControlName="NOMBRE">
            <!-- error -->
            <mat-error *ngIf="errorHandling('NOMBRE', 'required')">
                El <strong>Nombre</strong> Ingresado no es valido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Direcci&oacute;n" formControlName="DDIREC">
            <!-- error -->
            <mat-error *ngIf="errorHandling('DDIREC', 'required')">
                La <strong>Direcci&oacute;n</strong> Ingresada no es valido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="T&eacute;lefono" formControlName="TELEFONO">
            <!-- error -->
            <mat-error *ngIf="errorHandling('TELEFONO', 'required')">
                El <strong>Tel&eacute;fono</strong> Ingresado no es valido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="E-mail" formControlName="EMAIL">
            <!-- error -->
            <mat-error *ngIf="errorHandling('EMAIL', 'required')">
                El <strong>E-mail</strong> Ingresado no es valido
            </mat-error>
        </mat-form-field>


    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="guardarEmpresa()" [disabled]="!EmpresaForm.valid" class="float-right btn btn-outline-primary btn-sm" mat-icon-button
        color="accent">
        <mat-icon aria-label="Edit">save</mat-icon>
    </button>
    <button (click)="cerrarModal()" class="float-right btn btn-outline-primary btn-sm" mat-icon-button color="accent">
        <mat-icon aria-label="Edit">cancel</mat-icon>
    </button>

</mat-dialog-actions>