<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
<app-top-nav fxHide.xs></app-top-nav>
<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
<app-loading></app-loading> 
<mat-sidenav-container  class="example-sidenav-container">
  <mat-sidenav #appDrawer [mode]="mobileQuery.matches ? 'over' : 'side'"
  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="!mobileQuery.matches">
      <div class="logo-container" fxFlexAlign="center">
          <app-logo *ngIf="authService.isLoggedIn()"></app-logo>
      </div>
      <mat-divider></mat-divider>
    <mat-nav-list *ngIf="authService.isLoggedIn()">
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

      <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Prefijos (seleccione una empresa)</h5>
            <div class="card-text">

                <form [formGroup]="ConsultaForm" novalidate>

                  <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Empresa</mat-label>
                            <mat-select formControlName="NIT_EMPRESA">
                                <mat-option *ngFor="let elemento of comboEmpresa" [value]="elemento.NIT">
                                    {{elemento.NOMBRE}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="errorHandling('NIT_EMPRESA', 'required')">
                                Debe seleccionar <strong>Empresa</strong> Valida
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <button (click)="getConsultaPrefijosProvFE()" [disabled]="!ConsultaForm.valid" style="width: 100%;margin-top: 10px;"
                            mat-raised-button color="primary"> <i class="material-icons">
                                search
                            </i> Consultar</button>
                    </div>
                  </div>
                </form>
                <br>
        
              <button class="float-right btn btn-outline-primary btn-sm"  mat-icon-button color="primary"
                (click)="modalAdicionarPrefijo()">
                <mat-icon aria-label="icon-button with a heart icon">add</mat-icon>
              </button>
        
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
              </mat-form-field>
        
        
        
              <mat-table class="table-responsive" [dataSource]="dataSource" matSort class="mat-elevation-z8"
                >
        
        
                <ng-container matColumnDef="PREFIJO">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Prefijo Sistema</mat-header-cell>
                  <mat-cell *matCellDef="let element" data-label="Prefijo"> <span
                      class="mobile-label">Prefijo Sist:</span>{{element.PREFIJO}}</mat-cell>>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="NOMBRE">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</mat-header-cell>
                  <mat-cell *matCellDef="let element" data-label="Nombre"> <span
                      class="mobile-label">Nombre:</span>{{element.NOMBRE}}</mat-cell>>
                </ng-container>
        
               
        
                <!-- Symbol Column -->
                <ng-container matColumnDef="CONSEC">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>N&uacute;mero Control</mat-header-cell>
                  <mat-cell *matCellDef="let element" data-label="Consec"> <span
                      class="mobile-label">N&uacute;mero control:</span>{{element.CONSEC}} </mat-cell>
                </ng-container>
        
                <!-- Symbol Column -->  
                <ng-container matColumnDef="TIPODOCUMENTO">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</mat-header-cell>
                  <mat-cell *matCellDef="let element" data-label="TIPODOCUMENTO"> <span
                      class="mobile-label">Tipo Doc:</span>{{element.TIPODOCUMENTO}} </mat-cell>
                </ng-container>
        
                <!-- Symbol Column -->  
                <ng-container matColumnDef="RANGONUMERACION">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Prefijo Resoluci&oacute;n</mat-header-cell>
                  <mat-cell *matCellDef="let element" data-label="RangoNumeracion"> <span
                      class="mobile-label">Prefijo Res:</span>{{element.RANGONUMERACION}} </mat-cell>
                </ng-container>
        
                <!-- Symbol Column -->  
                <ng-container matColumnDef="TRANSA">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Transacci&oacute;n</mat-header-cell>
                  <mat-cell *matCellDef="let element" data-label="Transa"> <span
                      class="mobile-label">Transa:</span>{{element.TRANSA}} </mat-cell>
                </ng-container>
        

                <!-- Symbol Column -->  
                <ng-container matColumnDef="IDESCN">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Escenario</mat-header-cell>
                  <mat-cell *matCellDef="let element" data-label="Escenario"> <span
                      class="mobile-label">Escenario:</span>{{element.ESCENARIO}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->  
                <ng-container matColumnDef="RESOLUCION">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Resoluci&oacute;n</mat-header-cell>
                  <mat-cell *matCellDef="let element" data-label="Resolucion"> <span
                      class="mobile-label">Resol:</span>{{element.RESOLUCION}} </mat-cell>
                </ng-container>
               
        
        
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef>
                    Acciones
                  </mat-header-cell>
        
                  <mat-cell *matCellDef="let row; let i=index;">
                    <button class="float-right btn btn-outline-primary btn-sm" mat-icon-button color="primary"
                      (click)="modalEditarPrefijo(row)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
        
                    <button class="float-right btn btn-outline-danger btn-sm" mat-icon-button color="accent"
                      (click)="modalEliminarPrefijo(row)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
        
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator [pageSize]="25"  [length]="dataSource.data.length"  [pageSizeOptions]="[5, 10, 20, 25, 50, 100,dataSource.data.length]" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
        </div>


  </mat-sidenav-content>

  <app-loading></app-loading>



</mat-sidenav-container>
</div>