<h4 mat-dialog-title>EDITAR PLANTILLA  </h4>




    <form [formGroup]="form" (ngSubmit)="submit()">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
        

        

        

      </form>

     

      <tinymce [(ngModel)]="html"  [config]="config"></tinymce> 
      <mat-dialog-actions>
        <button type="button" (click)="submit()" class="btn btn-primary submit-button" ><mat-icon aria-label="Edit">save</mat-icon></button>
</mat-dialog-actions>

