<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <app-top-nav fxHide.xs></app-top-nav>
    <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
    <app-loading></app-loading>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #appDrawer [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" [opened]="!mobileQuery.matches">
            <div class="logo-container" fxFlexAlign="center">
                <app-logo *ngIf="authService.isLoggedIn()"></app-logo>
            </div>
            <mat-divider></mat-divider>
            <mat-nav-list *ngIf="authService.isLoggedIn()">
                <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>

            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Creaci&oacute;n de Prestamo</h5>
                    <div class="card-text">


                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                            </formly-form>


                            

                            <mat-dialog-actions>


                                    <button type="button" (click)="obtenerCuotasPrestamo()" title="Obtener cuotas del prestamo" class="btn btn-primary submit-button">
                                            <mat-icon aria-label="Edit">table_chart</mat-icon>
                                        </button>
                                        &nbsp;
                                        <button *ngIf= "mostrarTablaResumen && !listarDocumentosPrestamo" type="button" class="btn btn-primary submit-button" (click)="guardarPrestamo()" title="Guardar Prestamo" >
                                                <mat-icon aria-label="Edit">save</mat-icon>
                                            </button>
                                        &nbsp;
                               

                                
                            </mat-dialog-actions>
                        </form>


                        <!-- <tinymce [(ngModel)]="html" [config]="config"></tinymce> -->
                    </div>
                </div> 
            </div>
            
<br>

            <div *ngIf= "mostrarTablaResumen" class="card" style="width: 100%;">
                <div *ngIf="!listarDocumentosPrestamo" class="card-body">
                        <h5 class="card-title">Tabla de Resumen del prestamo</h5>
                        <div class="card-text">

                                <div mat-dialog-content class="mat-typography">
                                        <table class="main-table mobile-optimised" >
                                            <thead>
                                                 <tr>           
                                                   <th *ngFor="let header of getHeaders()">{{header}}</th>
                                                 </tr>
                                            </thead>
                                            <tbody>
                                                 <tr *ngFor="let item of tableCuotasPrestamo">           
                                                   <td  *ngFor="let key of getHeaders()"  [attr.data-th]="key" >{{item[key]}}</td>
                                                 </tr>
                                            </tbody>
                                        </table>
                                          <br>
                                          
                                    </div>

                                    

                    </div>
                </div>
 
                
                  

                <div *ngIf="listarDocumentosPrestamo" class="card-body">
                    <h5 class="card-title">imprimir Documentos del prestamo</h5>
                    <div class="card-text">

                            <div mat-dialog-content class="mat-typography">
                                    
                                <div *ngFor="let item of plantillas_html">
                                    <br>
                                    <tinymce [(ngModel)]="item.plantilla_html"  [config]="config"></tinymce> 

                                </div>
                                      <br>
                                      
                                </div>

                                

                </div>
            </div>

            </div>





        </mat-sidenav-content>
    </mat-sidenav-container>
</div>