.login-page {
    height: 100%;
    width: 100%;
    background: url('./../../../assets/images/login_background.jpg');
    filter: brightness(12px);

}

.logo-container {
    height: auto;
    width: 250px;
}

.login-field {
    width: 80%;
}
