.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-table {
    //overflow: auto;
    //max-height: 500px;
}

.mobile-label {
    display: none;
}

@media(max-width: 600px) {
    /* mobile as card */
    .mat-column-CUFE {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 100% !important;
        width: 100% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
    }
    .mat-column-NOMBRE_EMPRESA {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 100% !important;
        width: 100% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
    }
    .mat-column-NITNOM {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 100% !important;
        width: 100% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
    }
    .mobile-label {
        width: 100px;
        display: inline-block;
        font-weight: bold;
        font-size: 1em;
        flex: 0 0 40%;
        justify-content: center;
    }
    .mat-header-row {
        display: none;
    }
    .mat-table .mat-row {
        border-bottom: 10px solid #ddd;
        display: block;
        align-items: start;
        flex-direction: column;
        padding: 8px 24px;
    }
    .mat-table {
        mat-row,
        mat-header-row,
        mat-footer-row {
            padding-left: 24px;
            padding-right: 24px;
        }
        mat-cell:first-child,
        mat-footer-cell:first-child,
        mat-header-cell:first-child {
            padding-left: 0;
        }
        mat-cell:last-child,
        mat-footer-cell:last-child,
        mat-header-cell:last-child {
            padding-right: 0;
        }
    }
}

@media(min-width: 601px) {
    .mat-column-CUFE {
        word-wrap: break-word !important;
        white-space: unset !important;
        width: 100% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
    }
    .mat-column-TOTAL {
        justify-content: right;
        text-indent: 1em;
        padding-right: 45px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .mat-column-DOCUM {
        padding-left: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .mat-column-action {
        padding-left: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .boton-movil {
        width: 100%;
        margin-top: 10px;
    }
}

.example-margin {
    margin: 0 10px;
}