<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
<app-top-nav fxHide.xs></app-top-nav>
<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
<app-loading></app-loading>

<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #appDrawer [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="true">
        <div class="logo-container" fxFlexAlign="center">
            <app-logo *ngIf="authService.isLoggedIn()"></app-logo>
        </div>
        <mat-divider></mat-divider>
        <mat-nav-list *ngIf="authService.isLoggedIn()">
            <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Consulta de factura El&eacute;ctronica</h5>
                <div class="card-text">
                    <form [formGroup]="ConsultaForm" novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Documento:" formControlName="DOCUMENTO">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Empresa</mat-label>
                                    <mat-select [(value)]="comboEmpresa.NIT_EMPRESA" formControlName="NIT_EMPRESA">
                                        <mat-option>Todas</mat-option>
                                        <mat-option *ngFor="let elemento of comboEmpresa"
                                            [value]="elemento.NIT_EMPRESA">
                                            {{elemento.NOMBRE}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <section class="example-section">
                                    <mat-checkbox class="example-margin" formControlName="SICUFE" [(ngModel)]="sicufe">CUFE</mat-checkbox>
                                    <mat-checkbox class="example-margin" formControlName="NOCUFE" [(ngModel)]="nocufe">SIN CUFE</mat-checkbox>
                                  </section>
                            </div>
                            <div>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput [matDatepicker]="pickerFI" placeholder="Fecha Incial"
                                        formControlName="FEC_INI">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFI"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFI></mat-datepicker>
                                </mat-form-field>

                            </div>

                            <div class="col-md-4">

                                <mat-form-field class="example-full-width">
                                    <input matInput [matDatepicker]="pickerFF" placeholder="Fecha Final"
                                        formControlName="FEC_FIN">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFF"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFF></mat-datepicker>
                                </mat-form-field>

                            </div>

                            <div class="col-md-2">
                                <button (click)="getConsultaFE()" style="width: 100%;margin-top: 10px;"
                                    mat-raised-button color="primary"> <i class="material-icons">
                                        search
                                    </i> Consultar</button>
                            </div>

                            <div class="col-md-2">
                                <button (click)="generarCSVConsultaFE()" style="width: 100%;margin-top: 10px;"
                                    mat-raised-button color="primary"> <i class="material-icons">
                                        cloud_download
                                    </i> Generar CSV</button>
                            </div>

                        </div>

                    </form>
                </div>

                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                </mat-form-field>

                <mat-table class="table-responsive" [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <ng-container matColumnDef="NOMBRE_EMPRESA">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="NOMBRE_EMPRESA"> <span
                                class="mobile-label">Empresa:</span>{{element.NOMBRE_EMPRESA}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="PREFIJO">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Prefijo</mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="Prefijo"> <span
                                class="mobile-label">Prefijo:</span>{{element.PREFIJO}}</mat-cell>>
                    </ng-container>

                    <ng-container matColumnDef="DOCUM">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Documento</mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="Prefijo"> <span
                                class="mobile-label">Docum:</span>{{element.DOCUM}}</mat-cell>>
                    </ng-container>

                    <ng-container matColumnDef="TIPODOCUMENTO">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="TIPODOCUMENTO"> <span class="mobile-label">Tipo
                                Documento:</span>{{element.TIPODOCUMENTO}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="FECHA_CREACION">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Creaci&oacute;n</mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="feccha_creacion"> <span
                                class="mobile-label">Fecha Crea:</span>{{element.FECHA_CREACION}}</mat-cell>>
                    </ng-container>

                    <ng-container matColumnDef="FECHA">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="feccha_creacion"> <span
                                class="mobile-label">Fecha:</span>{{element.FECHA}}</mat-cell>>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="TOTAL">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="Total"> <span
                                class="mobile-label">Total:</span>{{element.TOTAL}}</mat-cell>>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="NITNOM">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Raz&oacute;n Social</mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="NITNOM"> <span class="mobile-label">Nombre
                                Cliente:</span>{{element.NITNOM}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ESCENARIO">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Escenario</mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="ESCENARIO"> <span
                                class="mobile-label">Escenario:</span>{{element.ESCENARIO}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="CUFE">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Cufe</mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="CUFE"> <span
                                class="mobile-label">Cufe:</span>{{element.CUFE}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>
                            Acciones
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row; let i=index;">
                            <button class="float-right btn btn-outline-primary btn-sm" title="Consultar LOG"
                                mat-icon-button color="primary" (click)="modalVerLogFactura(row)">
                                <mat-icon aria-label="search">search</mat-icon>
                            </button>

                            <button class="float-right btn btn-outline-primary btn-sm" title="Eliminar Documento"
                                mat-icon-button color="accent" (click)="eliminarDocumento(row)">
                                <mat-icon aria-label="delete">delete</mat-icon>
                            </button>

                            <button *ngIf = "!row.CUFE" class="float-right btn btn-outline-primary btn-sm" title="Estado Documento"
                                mat-icon-button color="accent" (click)="estadoDocumento(row)">
                                <mat-icon aria-label="delete">check</mat-icon>
                            </button>

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [pageSize]="25" [length]="dataSource.data.length"
                    [pageSizeOptions]="[5, 10, 20, 25, 50, 100,dataSource.data.length]" showFirstLastButtons>
                </mat-paginator>

            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
</div>