<h1 mat-dialog-title>JSON Request</h1>

<mat-dialog-content class="mat-typography">

    <div class="contenedorCodigo">

        <div class="row">
            <div class="col-md-6" >
                <p>Json VSTFAC</p>
                <pre id="jsonVstfac" ><ngx-json-viewer [json]="json1" [expanded]="false" ></ngx-json-viewer></pre>
            </div>
            <div class="col-md-6">
                <p>Json VSFAC</p>
                <pre  id="jsonVsfac"><ngx-json-viewer [json]="json2" [expanded]="false"></ngx-json-viewer></pre>
            </div>
        </div>

 
        <br> 


    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="guardarArchivoJsonVstFAC()" title = "Descargar Archivo VSTFAC" class="float-right btn btn-outline-primary btn-sm"
        mat-icon-button color="primary">
        <mat-icon aria-label="Edit">cloud_download</mat-icon>
    </button>
    <button (click)="guardarArchivoJsonVsFAC()" title = "Descargar Archivo VSFAC" class="float-right btn btn-outline-primary btn-sm"
        mat-icon-button color="primary">
        <mat-icon aria-label="Edit">cloud_download</mat-icon>
    </button>
</mat-dialog-actions>