<h1 mat-dialog-title>Log del Documento</h1>

<div mat-dialog-content>
    <table class="main-table mobile-optimised">
        <thead>
          <tr>
            <th>Docum</th>
            <th>Mensaje</th>
            <th>Cadena Mensajes</th>
            <th>Fecha</th>
          </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let item of datosConsultaDocum">
            <td data-th="docum">{{item.docum}}</td> 
            <td data-th="mensaje">{{item.mensaje}}</td>
            <td data-th="CadenaMensajes"> <p *ngFor = "let mensaje of item.cadenaMensajes" > {{mensaje}} </p> </td>
            <td data-th="fecha"> {{item.fecha}} </td>
          </tr>
        </tbody>
      </table>
      <br>
      
</div>

<mat-dialog-actions>
  <button (click)="modalDetalleVSTFAC()" title="Visualizar Detalle VSTFAC" class="float-right btn btn-outline-info btn-sm" mat-icon-button color="primary">
    <mat-icon aria-label="Edit">table_chart</mat-icon>
</button>

<button (click)="modalDetalleVSFAC()" title="Visualizar Detalle VSFAC" class="float-right btn btn-outline-info btn-sm" mat-icon-button color="primary">
  <mat-icon aria-label="Edit">table_chart</mat-icon>
</button>
  <button (click)="xmlEnviado()" title="Visualizar XML Enviado" class="float-right btn btn-outline-info btn-sm"
      mat-icon-button color="primary">
      <mat-icon aria-label="Edit">send</mat-icon>
  </button>
  <button (click)="xmlRespuesta()" title="Visualizar XML Respuesta" class="float-right btn btn-outline-info btn-sm" mat-icon-button color="primary">
      <mat-icon aria-label="Edit">event_note</mat-icon>
  </button>
 
  <button (click)="jsonRequest()" title="Visualizar Json Request" class="float-right btn btn-outline-info btn-sm" mat-icon-button color="primary">
    <mat-icon aria-label="Edit">local_offer</mat-icon>
</button>

  <button (click)="descargarPDF()" title="Descargar PDF Representaci&oacute;n Grafica Proveedor" class="float-right btn btn-outline-info btn-sm" mat-icon-button color="primary">
    <mat-icon aria-label="Edit">picture_as_pdf</mat-icon>
  </button>

  <button (click)="descargarPDFAdjunto()" title="Descargar PDF Adjunto" class="float-right btn btn-outline-info btn-sm" mat-icon-button color="primary">
    <mat-icon aria-label="Edit">picture_as_pdf</mat-icon>
  </button>

</mat-dialog-actions>
