<mat-dialog-content>
  <div class="card">
    <div class="card-header">
      <div class="card-title">Editar Forma de pago</div>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <mat-dialog-actions>
      <button type="submit" class="btn btn-primary submit-button">
        <mat-icon aria-label="Edit">save</mat-icon>
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content> 