<h1 mat-dialog-title>XML Respuesta del proveedor</h1>

<mat-dialog-content class="mat-typography">
    

   <div class="contenedorCodigo">
    <pre><code [highlight]="xml" (highlighted)="onHighlight($event)">  </code></pre>
   </div> 

</mat-dialog-content>
 
<mat-dialog-actions>
   <button (click)="guardarArchivoXmlRespuesta()" title = "Descargar Archivo XML" class="float-right btn btn-outline-primary btn-sm"
       mat-icon-button color="primary">
       <mat-icon aria-label="Edit">cloud_download</mat-icon>
   </button>

   <button (click)="visualizarEnDIAN()" title = "Visualizar Consulta DIAN" class="float-right btn btn-outline-primary btn-sm"
       mat-icon-button color="primary">
       <mat-icon aria-label="Edit">search</mat-icon>
   </button>

   <button (click)="visualizarPDFDIAN()" title = "Visualizar PDF DIAN" class="float-right btn btn-outline-primary btn-sm"
       mat-icon-button color="primary">
       <mat-icon aria-label="Edit">picture_as_pdf</mat-icon>
   </button>
</mat-dialog-actions>






