.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  min-height: 64px;
  padding: 0 14px;
}

#menu {
  margin-right: 8px;
}

mat-toolbar > span:not(.example-spacer) {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2px;
}
