.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-table {
    //overflow: auto;
    //max-height: 500px;
}

.mobile-label {
    display: none;
}

.trend-dialog .mat-dialog-container {
    overflow-y: hidden !important;
}

.main-table {
    width: 100%;
    max-width: 980px;
    /* change to suit*/
    margin: auto;
    border: 1px solid #eaeaea;
    border-collapse: collapse;
}

.main-table thead th {
    background: #199ad6;
    color: #fff;
    color: #fff;
    font-size: 0.8rem;
    padding: 5px 9px 6px 9px;
    line-height: 1;
}

.main-table th,
.main-table td {
    vertical-align: top;
    text-align: left;
}

td.numbers {
    text-align: center;
}

.main-table td {
    font-size: 0.7rem;
    padding: 3px 9px;
    border-bottom: 1px solid #999;
    /* dotted borders look bad on tables*/
    line-height: 1.2;
}

.table-heading {
    font-size: 0.7rem;
    margin: 0 0 0.5em;
}

.item-options {
    margin: 0 0 0.5rem;
    overflow: hidden;
    clear: both;
}

.item-options dt {
    margin: 0;
    font-weight: bold;
}

.item-options dt,
.item-options dd {
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: top;
}

.item-options dt:after {
    content: ":";
}

.main-table tbody tr:nth-child(odd) td {
    background: #f9f9f9;
}

@media screen and (max-width: 960px) {
    .mat-table {
        border: 0;
        vertical-align: middle
    }
    .mat-table .mat-header-cell {
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
    }
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
        padding: inherit;
        height: 30px;
        margin-bottom: 4%;
        padding-right: 24px;
        margin-top: 5%;
    }
    .mat-table .mat-cell:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        padding-left: 24px;
        font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
        border-bottom: 0;
    }
}

.card-header {
    background-color: rgb(25, 154, 214);
    color: white;
}