<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <app-top-nav fxHide.xs></app-top-nav>
  <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
  <app-loading></app-loading>
  <mat-sidenav-container class="example-sidenav-container" >
    <mat-sidenav #appDrawer [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="!mobileQuery.matches">
      <div class="logo-container" fxFlexAlign="center">
        <app-logo *ngIf="authService.isLoggedIn()"></app-logo>
      </div> 
      <mat-divider></mat-divider>
      <mat-nav-list *ngIf="authService.isLoggedIn()">
        <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>




      <div *ngIf="!visualizarDocumentos && listadoPrestamos" class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Listado de Prestamos</h5>
          <div class="card-text">
            <mat-form-field class="example-full-width">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
      
            <mat-table class="table-responsive" [dataSource]="dataSource" matSort class="mat-elevation-z8 ">
        
        
        
                    
              <ng-container matColumnDef="nomcliente">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
                <mat-cell *matCellDef="let element"> <span class="mobile-label">Cliente:</span>{{element.nomcliente}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="nomfpago">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Forma Pago </mat-header-cell>
                <mat-cell *matCellDef="let element"> <span class="mobile-label">F Pago:</span>{{element.nomfpago}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="valorpres">
                <mat-header-cell *matHeaderCellDef mat-sort-header> V. Cuota </mat-header-cell>
                <mat-cell *matCellDef="let element"> <span class="mobile-label">V. Cuota:</span>{{element.valcuota}} </mat-cell>
              </ng-container>


              <ng-container matColumnDef="celular">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Celular </mat-header-cell>
                <mat-cell *matCellDef="let element"> <span class="mobile-label">Celular:</span>{{element.celular}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="direcasa">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Direcci&oacute;n Casa </mat-header-cell>
                <mat-cell *matCellDef="let element"> <span class="mobile-label">Dir Casa:</span>{{element.direcasa}} </mat-cell>
              </ng-container>


              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>
                  <button title="Crear Prestamo" class="float-right btn btn-outline-primary btn-sm" mat-icon-button color="primary"
                    (click)="irPantallaCrearPrestamo()">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </mat-header-cell>
  
                <mat-cell *matCellDef="let row; let i=index;">
                 
  
                  <button title="Documentos" class="float-right btn btn-outline-primary btn-sm" mat-icon-button color="primary"
                    (click)="modalListadoDocumentos(row);visualizarListaCuotas=false">
                    <mat-icon aria-label="print">print</mat-icon>
                  </button>

                  <button title="Listado Cuotas" class="float-right btn btn-outline-info btn-sm" mat-icon-button color="primary"
                    (click)="visualizarListaCuotas=true;visualizarDocumentos=false;listadoPrestamos=false;listadoCuotas(row)">
                    <mat-icon aria-label="find_in_page">find_in_page</mat-icon>
                  </button>

                  <button title="Eliminar Prestamo" class="float-right btn btn-outline-info btn-sm" mat-icon-button color="accent"
                    (click)="eliminarPrestamo(row)">
                    <mat-icon aria-label="delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
      
            
                  
                
              
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="25" [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 20, 25, 50, 100,dataSource.data.length]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
      

      <div *ngIf="visualizarDocumentos"class="card" style="width: 100%;">
          
        <div class="card-body">
            <div>
                <button title="Volver" (click)="visualizarDocumentos=false;" class="left btn btn-outline-primary btn-sm" mat-icon-button color="primary">
                <mat-icon aria-label="Example icon-button with a heart icon">keyboard_backspace</mat-icon>
              </button>
            </div>
          <h5 class="card-title">Listado de Documentos del prestamo</h5>
          <div class="card-text">
            
      


            <mat-accordion>
              <mat-expansion-panel *ngFor="let item of plantillas_html" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{item.nombre}}
                  </mat-panel-title>
            
                </mat-expansion-panel-header>
            
                <br>
                <tinymce [(ngModel)]="item.plantilla_html" [config]="config"></tinymce>
            
              </mat-expansion-panel>
            
            </mat-accordion>
            
       
          </div>
        </div>
      </div>



      <div *ngIf="visualizarListaCuotas" class="card" style="width: 100%;">
        <div class="card-body">
            <div>
                <button title="Volver" (click)="listadoPrestamos=true;visualizarListaCuotas=false;" class="left btn btn-outline-primary btn-sm" mat-icon-button color="primary">
                <mat-icon aria-label="Example icon-button with a heart icon">keyboard_backspace</mat-icon>
              </button>
            </div>
          <h5 class="card-title">Listado de Cuotas del prestamo</h5>
          <div class="card-text">
            <mat-form-field class="example-full-width">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>


            <mat-table class="table-responsive" [dataSource]="dataSourceFecPago" matSort class="mat-elevation-z8 ">
        
        
        
                    
                <ng-container matColumnDef="id_prestamo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Id Prestamo </mat-header-cell>
                  <mat-cell *matCellDef="let element"> <span class="mobile-label">Id:</span>{{element.id_prestamo}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="fecha_pago">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> fecha Pago </mat-header-cell>
                  <mat-cell *matCellDef="let element"> <span class="mobile-label">Fec Pago:</span>{{element.fecha_pago}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="valcuota">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Valor Cuota </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <span class="mobile-label">Val Cuota:</span>{{element.valcuota}} </mat-cell>
                  </ng-container>

                  
              
  
  
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef>
                 
                  </mat-header-cell>
    
                  <mat-cell *matCellDef="let row; let i=index;">
                      <button  *ngIf ="!row.id_fecha_pago" title="PagarCuota" class="float-right btn btn-outline-primary btn-sm" mat-icon-button color="primary"
                      (click)="pagarCuotaPrestamo(row);">
                      <mat-icon aria-label="money">money</mat-icon>
                    </button>
    
                  </mat-cell>
                </ng-container>
        
              
                    
            
                <mat-header-row *matHeaderRowDef="displayedColumnsFecPago"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsFecPago;"></mat-row>
              </mat-table>
              <mat-paginator [pageSize]="25" [length]="dataSourceFecPago.data.length" [pageSizeOptions]="[5, 10, 20, 25, 50, 100,dataSourceFecPago.data.length]" showFirstLastButtons>
              </mat-paginator>
      
            
          </div>
        </div>
      </div>
      

    

    </mat-sidenav-content>
    <app-loading></app-loading>
  </mat-sidenav-container>
</div>